
*.dll
![Ss]ource/[Mm]isc/**/*.dll
*.aps
*csproj.user
*csproj.DotSettings.user
*.pubxml.user
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.rar
*.zip
*.jar
*.RAR
*.ZIP
*.JAR
*.orig
[Bb]in
.idea
*project.assets.json
*QuizCharp.assets.cache
*QuizCharp.csproj.nuget.dgspec.json
*QuizCharp.csproj.nuget.g.targets
*QuizCharp.csproj.nuget.g.props

[Dd]ebug*/
node_modules*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
Thumbs.db
[Ss]ource/[Pp]ackages/
.vs/