<style>
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: inline-block;
    /* align-items: center; */
    background-color: gray;
    color:black;
    text-align: center;
    font-weight: 1000;
    font-style: italic;
    line-height: 4;
  }
  
  footer {
  position: fixed;
  left: 0; bottom: 0;
  text-align: center;
  padding: 1px;
  background-color: gray;
  color: black;
  font-weight: 500;
  width: 100%;
}
</style>


<div class="toolbar">
 <span> 
   WELCOME TO QUESTIONNAIRE
</span>
</div>

<footer>
  <p>Author: Serbin Yurii<br>serbingeorg@gmail.com<br> © {{ copyrightYear }} All rights reserved.</p>
</footer>
<router-outlet></router-outlet>